@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  scroll-behavior: smooth;
}

.nav-image {
  width: 250px;
  height: auto;
  background-color: black;
}

@keyframes home-animation {
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-2.jpg');
  }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-3.jpg');
  }

  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/chivero.jpg');
  }

  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-4.jpg');
  }

  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-5.jpg');
  }
  70% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-6.jpg');
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/animation-7.jpg');
  }
}

.bg-home-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/social.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width:991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/92090/pexels-photo-92090-large.jpeg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/93750/pexels-photo-93750-large.jpeg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/76827/bahia-ocean-bay-boat-76827-large.jpeg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
}

.btn,
.btn:hover {
  border-radius: 0px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}
/* Test */

.bg-dry-ground {
  background-position: top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('/images/dry-ground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/meeting.jpg');
  background-position: bottom;
  background-size: cover;
}

.bg-about-history {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url('/images/chivero-challenge.jpg');
  background-position: top;
  background-size: cover;
}

.bg-about-key-areas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)),
    url('/images/water-hour-glass.png');
  background-position: center;
  background-size: cover;
}

.bg-initiatives {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/un-conference.jpg');
  background-position: bottom;
  background-size: cover;
}

.bg-innovation-hub {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/innovation-hub-header.jpg');
  background-position: top;
  background-size: cover;
}

.bg-initiatives-awareness {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/conference-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-initiatives-advocacy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)),
    url('/images/catch-them-young.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-initiatives-biodiversity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)),
    url('/images/biodiversity.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-initiatives-waste {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/environment.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-initiatives-food {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/conference-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-initiatives-research {
  background-image: url('/images/research.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-initiatives-food {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/conference-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hub-description {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/innovation-hub.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hub-tools {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/innovation-hub-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hub-training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/innovation-hub-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hub-opportunities {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)),
    url('/images/innovation-hub-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hub-comment {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)),
    url('/images/IMG_9029.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-special {
  color: #000;
  font-weight: bold;
  position: relative;
  margin-bottom: 1.5rem;
}

.heading-special::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25%;
  padding: 0.25rem;
  width: 2.5rem;
  background-color: #D1CE68;
}


@keyframes scroll {
  from {
    transform: translateX(90%);
  }
  
  to {
    transform: translateX(-30%);
  }
}

.animate-scroll {
  display: flex;
  min-width: 100%;
  /* animation: scroll 150s linear infinite; */
  animation: scroll 50s linear infinite;
}

.required-field::after {
  content: "*";
  color: red;
  font-weight: bold;
}

@keyframes slide-in {
  from {
    translate: 0 50%;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 1s ease-in 0s 1;
}

.appear {
  animation: appear 0.5s ease-in 0s 1;
}

.events-image{
  width: 300px;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
 .bg-home-header {
    animation-name: home-animation;
    animation-timing-function: ease-in;
    animation-duration: 35s;
    /* 5 seconds per image */
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: 768px) {
  .nav-image {
    width: 150px;
  }  

  .bg-hub-comment {
    background-position: top;
    background-size: cover;
  }

  .events-image{
    width: 100%;
    background-color: #ddd;
  }
}