@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.heading-special {
  color: #000;
  font-weight: bold;
  position: relative;
  margin-bottom: 1.5rem;
}

.heading-special::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25%;
  padding: 0.25rem;
  width: 2.5rem;
  background-color: #D1CE68;
}


@keyframes scroll {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  min-width: 200%;
  animation: scroll 100s linear infinite;
}

.required-field::after{
  content: "*";
  color: red;
  font-weight: bold;
}